.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 5px;padding-right:5px;
    font-size: 16px;
}

.table_rowss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.table_rowss_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.table_rows_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.container_zagolov {
    display: flex;
    text-align:  center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #89c228;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.table2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
}

.table_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.table_row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
}

.table_rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
}

.zagolovok_top {
    padding: 10px;
    background-color: #d5f6e0;
    text-align: center;
    margin: 0px;
    margin-top: 40px;
}

.zagolovok_top2 {
        padding: 10px;
        background-color: #d5f6e0;
        text-align: center;
        margin: 0px;
        margin-top: 40px;
    }

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #c6d7ce;
    margin: 0px;
    padding: 10px 10px;
    background-color: #f7f7f7;
}

.texts{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #c6d7ce;
    margin: 0px;
    padding: 10px 10px;
    background-color: #f7f7f7;
}

.podzagolovok {
    margin: 0px;
    font-weight: 500;
}


@media  (max-width: 600px) {
    .table_rows {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .table_rowss {
        display: grid;
        grid-template-columns: 33.34% 33.33% 33.33%;
        height: 110px;
    }

    .table_row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .text {
        display: flex;
        text-align: left;
        border: 1px solid #c6d7ce;
        margin: 0px;
        padding: 10px 15px;
        background-color: #f7f7f7;
        font-size: 13px
    }
    .texts {
        text-align: left;
        border: 1px solid #c6d7ce;
        margin: 0px;
        padding: 10px 3px;
        text-align: center;
        background-color: #f7f7f7;
        font-size: 13px
    }

}
