.waste_container {
    background-blend-mode: color;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    background-image: url(../../assets/trucks.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px;
}

.waste_container__card {
    display: grid;
    max-width: 1000px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax( 320px, 1fr));
    margin: 0 auto;
    grid-gap: 100px;
    align-items: center;
    text-align: center;
}

.waste_card {
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    text-align: left;
}

.waste_text {
    min-height: 100px;
    text-align: justify;
}

.waste_title {
    font-size: 25px;
}

.waste_img {
    display: block;
    width:  100%;
}
.waste_container_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.waste_button {
    width:  180px;
}

@media ( min-width:740px) and (max-width: 1100px){
    .waste_text {
        min-height: 150px;
    }
}

@media (min-width: 505px) and (max-width: 739px){
        .waste_container {
            padding: 20px 0px;
        }

        .waste_container__card {
            grid-template-columns: repeat(auto-fill, minmax( 250px, 1fr));
            grid-gap: 10px;
        }

        .waste_text {
            min-height: 180px;
        }

        .waste_title {
            font-size: 15px;
        }
        .waste_button {
            margin:  0 auto;
        }
}


@media (min-width: 320px) and (max-width: 504px){
    .waste_container {
        padding: 20px 0px;
    }

    .waste_container__card {
        grid-template-columns: repeat(auto-fill, minmax( 250px, 1fr));
        grid-gap: 10px;
    }

    .waste_text {
        min-height: 100px;
        font-size: 14px;
    }
    .waste_title {
        font-size: 15px;
    }
    .waste_button {
        margin:  0 auto;
    }
}
