.container {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 5px;
}
.tittle {
    text-align: center;
    margin: 30px;
}

.link {
    text-decoration: none;
    color: black;
    margin: 0px;
}

.paragraf {
    font-size: 16px;
    font-weight: 600;
    margin:  0px;
}

.container_card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 100%, 1fr));
    grid-gap: 10px;
    justify-content: center;
}


@media (max-width: 768px) {
    .paragraf {
        font-size: 14px;
        font-weight: 600;
    }
    .tittle {
        font-size: 20px;
        margin: 20px;
    } 
}