.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #0f2d37;
    border-top: 0px;
    padding: 20px 40px;
    color: rgb(0, 0, 0);
    padding: 15px;
    z-index: 1099900; 
    transition: opacity 0.5s ease; 
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.title {
text-align: center;
font-size: 20px;
}
.notification__hidden {
    display: none; 
}
.notification__text {
    text-align: center;
}
.notification__content {
    display: flex;
    align-items: center;
}



.notification__button {
    background-color: #5aad3a;
    border-radius: 2px;
    border: none;
    text-align: center;
    height: 35px;
    width: 200px;
    font-size: 12px;
    font-weight: 500;
    color: #f8f8f8;
}


@media (max-width: 500px) {
    .notification {
        border: 0px solid #0f2d37;
        border-top: 0px;
        border-bottom: 1px solid #0f2d37;
    }
}