.container {
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0px;
}
.top_nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "MyriadPro";
    font-style: normal;
    font-weight: normal;
}
.link {
    color: #31aeea;
    font-family: "MyriadPro";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}


.news_img {
    max-width: 100%;
    max-height: 320px;
    background-position: center;
}

.top_text {
    margin: 0;
}

.wrapper_news {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    font: bold 16px "MyriadPro";
    margin: 40px auto;
    cursor: pointer;
}
.card_wrapper {
    display: flex;
    max-width: 320px;
    padding: 0px 10px;
}

.container_button {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin: 0 auto;
}
.card_wrapper a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 580px){

    .card_wrapper {
        border:  2px solid #cacaca;
        padding: 20px 5px;
        width: 90%;
        margin: 0 auto;

    }

}
