.container {
  box-sizing: border-box;
  width: 100%;
  margin: 40px 0px;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.vtbbanner {
  display: block;
  background-image: url(/src/components/Vtbbanner/vtbfull.jpg);
  max-width: 960px;
  height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 40px auto;
}

@media (min-width: 320px) and (max-width: 580px){
  .vtbbanner {
    display: block;
    background-image: url(/src/components/Vtbbanner/vtbmobail.jpg);
    max-width: 580px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px auto;
  }
}
