/*
 * File: online-payments.module.css
 * Project: ecologistika-site
 * File Created: 2022-10-28 17:45:23
 * Author: Ahmed
 * -----
 * Last Modified: 2022-11-01 09:38:53
 * Modified By: NEZNAYVAS
 * -----
 * Copyright 2022 - present
 */
.onlinepayments_title {
    max-width: 450px;
    color: black;
    font-size: 1.8em;
    margin: 30px 0px;
}

.onlinepayments_description {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
}

.online_img {
    display: block;
    background-image: url(../NewBannerActions/qr-code.png);
    background-size: cover;
    width: 135px;
    height: 135px;
}

.online_container {
    display: flex;
    gap: 50px;
}
.onlinepayments_form {
    display: flex;
}

.onlinepayments_input {
    min-width: 250px;
    border: 1.5px solid #89c228;
    margin-right: 0.5rem;
    padding-left: 10px;
}

.onlinepayments_input::placeholder {
    color: rgb(194, 194, 194);
}

.onlinepayments_button {
    width: 160px;
    height: 50px;
    border: none;
    background-color: #89c228;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.onlinepayments_button:hover {
    background-color: #fff;
    color: #89c228;
    transition: ease 0.5s;
}

.onlinepayments_2 {
    display: none;
}
.container {
    box-sizing: border-box;
    width: 100%;
    margin: 40px 0px;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.wrapper {
    display: block;
    background-image: url("./paymant.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 50px;
}

@media (min-width: 320px) and (max-width: 580px) {
    .container {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px 0px;
    }
    .wrapper {
        display: none;
    }
    .onlinepayments_2 {
        background-image: url("./paymant.webp");
        background-size: cover;
        background-position-x: -10px;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        flex-direction: column;
        border: 1px solid #89c228;
        padding: 10px 5px;
        margin: 10px auto;
        border-radius: 5px;
    }
    .onlinepayments_title_2 {
        font-size: 15px;
        width: 100%;
        font-weight: 600;
    }
    .onlinepayments_description_2 {
        font-size: 13px;
        margin: 10 0px;
        width: 100%;
        font-weight: 500;
    }
    .onlinepayments_form_2 {
        box-sizing: border-box;
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .onlinepayments_button_2 {
        width: 50%;
        border-radius: 5px;
        background-color: #89c228;
        text-align: center;
        height: 40px;
    }

    .onlinepayments_input_2 {
        margin: 10px 0px;
        border-radius: 0px;
        height: 40px;
        font-size: 14px;
    }
    .onlinepayments_title_2 {
        width: 220px;
        margin-bottom: 20px;
    }
}

@media (min-width: 740px) and (max-width: 980px) {
    .onlinepayments_title {
        max-width: 400px;
        color: black;
        font-size: 1.3em;
        font-weight: 500;
        margin: 10px 0px 40px 0px;
    }
    .wrapper {
        display: block;
        background-image: url("./paymant.webp");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding: 30px;
    }
    .onlinepayments_description {
        max-width: 400px;
        color: black;
        font-size: 0.9rem;
    }
    .onlinepayments_button {
        max-width: 140px;
        height: 40px;
        border: none;
        background-color: #89c228;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
    }
    .onlinepayments_input {
        max-width: 260px;
        border: 1.5px solid #89c228;
        margin-right: 0.5rem;
    }
    .container {
        box-sizing: border-box;
        width: 100%;
        margin: 10px 0px;
        max-width: 1100px;
    }
   
}
    
    

@media (min-width: 580px) and (max-width: 740px) {
    .onlinepayments_title {
        max-width: 300px;
        color: black;
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
    }
    .wrapper {
        display: block;
        background-image: url("./paymant.webp");
        background-size: content;
        background-repeat: no-repeat;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .onlinepayments_description {
        max-width: 300px;
        color: black;
        font-size: 14px;
    }
    .onlinepayments_button {
        max-width: 120px;
        height: 40px;
        border: none;
        background-color: #89c228;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
    }
    .onlinepayments_input {
        min-width: 200px;
        border: 1.5px solid #89c228;
        margin-right: 10px;
    }
    .container {
        box-sizing: border-box;
        width: 100%;
        margin: 10px 0px;
        max-width: 1100px;
    }
    .wrapper {
        display: block;
        background-image: url("./paymant.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding: 10px;
    }
}
