.header {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}
.adress {
    text-decoration: none;
    color: black;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #89c228;
    border-radius: 5px;
    color: #fff;
    font-size: 16px/50px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.phone {
    display: inline-block;
    padding: 0 10px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.flex {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    background-image: url(../HeaderLogo/img/logo.png);
    height: 45px;
    width: 290px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.number_contact { 
    display: flex;
    align-items: center;
}

.tel {
    display: block;
    height: 22px;
    width: 20px;
    background-image: url(./img/phone.png);
    background-size: cover;
}

.img_mail {
    display: block;
    height: 20px;
    width: 26px;
    background-image: url(../HeaderLogo/img/massanger.png);
    background-size: cover;
    margin-right: 10px;
}
.mail {
    display: flex;
}

.link_mail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header_top {
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 8px;
}

.header_info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.img_location {
    display: block;
    height: 20px;
    width: 15px;
    background-image: url(./img/locathion.png);
    background-size: cover;
    margin-right: 10px;
}

.header_location {
    display: flex;
    align-items: center;
}

.img_location2 {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(./img/time.png);
    background-size: cover;
    margin-right: 10px;
}

.header_time {
    display: flex;
    align-items: center;
}

.header_social3 {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./../../assets/images/socials/telegram.svg);
    background-size: cover;
    margin-right: 10px;
}



.container_img {
    display: flex;
    align-items: center;
}

.paragraf {
    margin: 10px 0px;
    font-size: 13px;
}
.sub_header {
    display: none;
}

.header_text {
    display: inline-block;
    padding: 0 0px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    width: 100%;
}

.header_tops {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
}

@media (min-width: 320px) and (max-width: 900px){
    .headers  {
        display: none;
    }
    .sub_header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0px;
    }
    .sub_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            position: absolute;
            z-index: 9999;
            top: 5px;
    }
    .logo {
        height: 45px;
        width: 190px;
        margin: 10px;
        background-position: center;
    }
    .img_mail   {
        width: 33px;
        height: 25px;
        margin-right: 10px;
    }
}
