.container {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    max-width: 1100px;
    width: 100%;
    margin:  0 auto;
    margin-bottom: 40px;
}
.main_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 30px 0px;
}
.card {
    box-sizing: border-box;
    padding: 0px 10px;
    min-height: 450px;
}
.text {
    text-align: center;
}

.container_link {
    padding-bottom: 5px;
}
.link {
    text-align: center;
    color: #3AC0EF;
    font-size: 18px;
    font-weight: bold;
}
.img_container {
    display: flex;
    align-items: center;
    height: 150px;
}

.container_text {
    max-height: 100px;
}

.img {
    width: 150px;
    margin-right: 10px;
}

.image {
    max-width: 100px;
}
.text_number {
    color: green;
    margin: 10px 0px;
}
.zagolovok {
    font-size: 18px;
    font-weight: bold;
}


.paragraph {
    font-size: 15px;
    line-height: 150%;
    font-weight: 500;
    padding: 0 2px 0 0px;
}
.container_button {
    margin: 0 auto;
    width: 180px;
}



@media (min-width: 320px) and (max-width: 420px){
    .container {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr;
        place-content: center;
        max-width: 580px;
        width: 100%;
        margin:  0 auto;
        margin-bottom: 40px;
    }
    .main_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px;
    }
    .card {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        min-height: 330px;
        max-width: 90%;
        margin-bottom: 20px;
        border: 2px solid rgb(202, 202, 202);
    }
    .text {
        text-align: center;
    }

    .container_link {
        padding-bottom: 5px;
    }
    .link {
        text-align: center;
        color: #3AC0EF;
        font-size: 16px;
        font-weight: bold;
    }
    .img_container {
        display: flex;
        padding: 10px;
    }

    .container_text {
        padding-top: 0px;
        text-align: center;
        max-height: 300px;
    }
    .container_buttin {
        margin: 0 auto;
    }

    .img {
        width: 120px;
        margin-right: 10px;
    }

    .image {
        display: none;
        max-width: 50px;
        transform: rotate(90deg);
    }
    .text_number {
        color: green;
        margin: 10px 0px;
    }
    .zagolovok {
        font-size: 18px;
        font-weight: bold;
    }

    .paragraph {
        margin: 0px 0px;
        font-size: 14px;
        font-weight: 500;
        text-align: justify;
    }
    }
