.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 512px;
    margin-bottom: 20px;
  }
  
  .tbankbanner {
    max-width: 512px;
  }
  
  @media (min-width: 20px) and (max-width: 580px){
    .tbankbanner {
      width: 100%;
      max-width: 580px;
    }
  }
  