.title {
    color: #89c228;
    text-align: center;
}
.requisites {
    display: grid;
    max-width: 1140px;
    flex-direction: column;
    margin: 0 auto;
}

.text {
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    border-bottom: 1px solid black;
    font-size: 20px;
    margin: 0px 0px;
    padding: 0 10px;
    border: 1px solid rgb(136, 136, 136);
    align-items: center;
}

.span_text {
    border-right: 1px solid rgb(136, 136, 136);
    padding: 5px 0px;
    margin-right:  20px;
}

@media (max-width: 767px) {
    .text {
        display: grid;
        grid-template-columns: 2.4fr 5fr;
        border-bottom: 1px solid black;
        font-size: 12px;
        margin: 0px 0px;
        height: 100%;
        padding: 0px 5px;
        border: 1px solid rgb(136, 136, 136);
        align-items: center;
    }
    .span_text {
        border-right: 1px solid rgb(136, 136, 136);
        padding: 10px 0px;
        margin-right:  20px;
    }
    .requisites {
        width: 100%;
    }
}
