.table {
    max-width: 1100px;
    border: 2px solid #68c200;
    margin: 0px auto;
    margin-top: 0px;
}
.container_table {
    display: grid;
    grid-template-columns: 0.3fr 2.3fr 2.04fr 1.35fr;
    width: 100%;
    margin: 0 auto;
    background-color: #d4f5df
}
.text{
    border:  1px solid #c8ddd2;
}

.row_text {
    display: flex;
    justify-content: space-between;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text {
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    font-weight: normal;
}


.table_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.table_row_text {
    display: grid;
    grid-template-columns: 0.6fr 4.5fr 4fr 1.5fr 1.1fr;
    width: 100%;
    margin: 0 auto;
}

.zagolovok {
    margin: 0px;
    padding-top: 15px;
    padding-bottom:15px;
    background-color: #d4f5df;
}


.content_text {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}

.texts{
    font-size: 18px;
    margin: 0;
    margin: 30px 0px;
    margin-bottom: 20px;
}

.texti {
    color: #89c228;
}


.container{
    margin-bottom: 0;
}

.header_text_container {
 display: flex;
 max-width: 1100px;
 margin: 0 auto;
 flex-direction: column;
}



.zagolovok_center{
    color: #89c228;
    margin: 0 auto;
    margin-top: 50px;
}

.podzagolovok {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500;
}