.banner_container {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 40px;
    background-position: center;
    max-height: 987px;
}
.banner_content {
    max-width: 1140px;
    margin: 0 auto;
}

.content_img {
    display: block;
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-right: 20px;
}

.conteiner_text {
    display: flex;
    align-items: center;
}

.banner_zagolovok {
    width: 480px;
    line-height: 50px;
    font-weight: 700;
}


.banner_paragraf {
    font-size: 22px;
    width: 480px;
}

.container_button {
    width: 300px;
}



@media (min-width: 320px) and (max-width: 580px){
    .banner_container {
        padding: 50px 5px;
        background-repeat: no-repeat;
        background-size: 0px;
        margin-top: 80px;
        border: 2px solid #89c228;
        border-left: 0px solid #89c228;
        border-right: 0px;
    }
    .banner_content {
        width: 100%;
        margin: 0 auto;
    }

    .content_img {
        display: none;
    }


    .banner_zagolovok {
        width: 95%;
        line-height: 22px;
        text-align: center;
        margin: 10px auto;
        font-size: 18px;
        font-weight: 600;
    }


    .banner_paragraf {
        font-size: 15px;
        font-weight: 500;
        width: 90%;
        margin: 0px auto;
        text-align: center;
        padding: 15px 0px;
    }

    .container_button {
        display: flex;
        align-items: center;
        width: 200px;
        margin: 20px auto;
        margin-bottom: 0px;
    }
}
