.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}


.card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 5px;
    background-color: #f9f9f9;
    align-items: center;
    border: 2px solid transparent;
    margin: 0 auto;
    width: 90%;
    margin: 10px 10px;
}


.img {
    height: 100%;
}
.container_img {
    min-width:  100px;
    min-height: 100px;
    margin: 0 auto;
}

.dis_row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    margin-bottom: 40px;
}



.paragraf {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0px;
    height: 35px;
}

.container_card .card:hover {
    border: 2px solid #89c228;
}

.span {
    color: #89c228;
}

h1 {
    font-size: 30px;
}

.heade_text {
    text-align: center;
}

.container_btn {
     width: 180px;
     margin: 0 auto;
     display: flex;
     align-items: center;
}

@media (max-width: 550px) {
    .paragraf {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin: 20px 0px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 90%;
        padding: 20px 5px;
        background-color: #f9f9f9;
        align-items: center;
        border: 2px solid transparent;
        margin: 10px auto;
    }
    .dis_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
        margin-bottom: 40px;
    }
}
