.containers{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}


.container_company {
    display: flex;
    flex-direction: column;
    margin:  0 auto;
    width: 100%;
}


.carpark img {
    width: 100%;
}

.throwtrash img {
    width: 100%;
}

.top_zagolovok {
    font-size: 25px;
    font-weight: 400;
}

.top_text {
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    margin: 20px 0px;
}


.paragraph {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin: 10px 0px;
}

.image {
    font-size: 20px;
    color: rgb(137, 194, 40);
    margin-right: 5px;
}


.container_text {
    display: flex;
    align-items: center;
}


.text_center {
    color: rgb(137, 194, 40);
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
