.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));
    margin: 0 auto;
}
.container_text {
    display: flex;
    flex-direction: column-reverse;
}

.container_card {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid #cbcbcb;
}

.img {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}

.zagolovok_card {
    padding: 0px 45px;
    font-size: 20px;
    color: #89c228;
    font-weight: normal;
    text-align: center;
}
.link {
    text-decoration: none;
    color: black;
    margin: 0px;
    border-bottom: 1px solid black;
}

.texts {
    text-align: center;
    color: black;
}
.text {
    display: flex;
    padding: 10px 20px;
    color: white;
    background-color: #89c228;
    margin: 0 auto;
    margin-top: 20px;margin-bottom: 0px;
    font-size: 20px;
}
