.title {
    color: #89c228;
    text-align: center;
}

.map {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex_row {
    display: flex;
    flex-grow: 1;
}

.gmap {
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    box-shadow: 2px 0px 2px 1px rgb(179, 179, 179);
    border: 1px solid #89c228;
}

.searchbar input {
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: #f8f8f8;
    border: 1px solid #c5c6c6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 25%;
}

span.entry {
    display: block;
    font-size: 0.8rem;
    padding: 3px;
    cursor: pointer;
    margin: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span.status {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.status.active {
    background-color: #89c228;
}
.status.inactive {
    background-color: red;
}

span.entry:hover {
    color: #89c228;
}

.hover_baloon {
    position: absolute;
    top: 100%;
    display: block;
    border: #89c228 1px solid;
    font-size: 0.8rem;
    padding: 1rem;
    background-color: #fff;
    z-index: 2;
}

.info_baloon {
    padding: 1rem;
}

.info_baloon.show .point_name {
    display: flex;
    align-items: center;
}

.point_name {
    display: flex;
    justify-content: start;
    align-items: center;
}

.point_name > img {
    max-width: 30px;
    padding-right: 10px;
}

.point_status span:nth-child(1) {
    font-weight: bold;
}

.begin span:nth-child(1) {
    color: gray;
}

.point_address span:nth-child(1) {
    color: gray;
}

.radius span:nth-child(1) {
    color: gray;
}

.splitter {
    width: 100%;
    border-top: 1px solid #000;
    opacity: 0.07;
    margin: 7px 0 5px 0;
}

.report {
    padding: 1rem;
}

.report_button {
    display: block;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.report input {
    margin: 10px;
}

.report_bottom_bar {
    background-color: #f8f8f8;
    border: 1px solid #89c228;
    height: 100%;
    overflow: scroll;
}

.report_bottom_bar span {
    display: block;
    padding: 1rem 0 0 1rem;
    font-size: 1.2rem;
}

.cross_button {
    float: right;
    padding: 0.5rem;
    cursor: pointer;
}

.active {
    color: #89c228;
    font-weight: 500;
}

.inactive {
    color: red;
    font-weight: 500;
}

.report_table {
    width: 100%;
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    padding: 5px;
}
.report_table th {
    border: 1px solid #c0c0c0;
    padding: 5px;
    background: #f0f0f0;
}
.report_table td {
    border: 1px solid #c0c0c0;
    padding: 5px;
}

/* LOADER */
.load_info {
    width: 100%;
    text-align: center;
    color: #89c228;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #89c228;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}

img.geo_type {
    width: 15px;
    height: 15px;
    padding: 0 5px;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@media (max-width: 767px) {
    /* .map {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }
    .searchbar {
        box-sizing: border-box;
        border: 1px solid transparent;
        width: 100%;
        height: 32px;
        padding: 0 12px;
        border-radius: 3px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        outline: none;
        text-overflow: ellipses;
        position: none;
        left: 0px;
        margin-left: 0px;
    } */
}
