.container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
}
.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.zagolovok {
    text-align: right;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.card {
    box-sizing: border-box;
    display: flex;
    max-width: 650px;
    flex-direction: column;
    height: min-height;
    box-sizing: border-box;
    margin-top: 40px;
    margin-right: 20px;
}
.card + .card {
    margin-top: 10px;
}
.text {
    color: transparent;
    cursor: pointer;
}

.top_text {
    border: 3px solid #c1c1c2;
    border-bottom: 0px;
    padding: 5px 30px;
    background-color: #f7f7f7;
}

.center_text {
    border: 3px solid #c1c1c2;
    border-top: 0px;
    border-bottom: 0px;
    padding: 5px 30px;
    color: green;
    background-color: #d5f6e0;
    font-size: 16px;
    border-bottom: 3px solid #c1c1c2;
}

.center_text_active{
    border: 3px solid #c1c1c2;
    border-top: 0px;
    border-bottom: 0px;
    padding: 5px 30px;
    color: green;
    background-color: #d5f6e0;
    font-size: 16px;
    border-bottom: 0px solid #c1c1c2;
}
.texts {
    color: #89c228;
    width: fit-content;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.text_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_info .text_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_info {
    border-top: 0px;
    padding: 0px 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
    color: white;
    background-color: #f7f7f7;
}

.container_info_active {
    display: flex;
    border: 3px solid #c1c1c2;
    border-top: 0px;
    border-left: 3px solid #c1c1c2;
    padding: 0px 30px;
    height: auto;
    max-height: 9999px;
    color: #89c228;
    justify-content: space-between;
    transition: all 0.8s cubic-bezier(1, 0, 1, 0);
    background-color: #f7f7f7;
}

.container_info_active .text {
    color: #89c228;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}
.zagolovok_text {
    color: #89c228;
}

.text_info_container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: min-height;
    width : 300px;
    background-color: #f7f7f7;
    padding: 12px 0px;
    border: 3px solid #c1c1c2;
    margin-top: 40px;
}

.text_cont {
    text-decoration: none;
    margin-top: 0px;
    color: black;
}

.text_cont + .text_cont {
    margin-top: 10px;
}


.text_conts {
    margin: 20px 0px;
    margin-bottom: 5px;
    cursor: pointer;
}

.zagolovoks {
    color: black;
    margin: 0px;
    margin-bottom: 15px;
}


.texti {
    color: black;
}

@media (max-width: 768px) {
    .card {
        margin-right: 5px;
        margin-left: 5px;
    }
}
