.container * {
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.title {
    color: #89c228;
    text-align: center;
    padding: 1rem;
}

.radios {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 5%;
    width: 100%;
    margin: 10px 0px;
    padding-top: 1rem;
    font-size: 14px;
}

.radio_label {
    color: gray;
    font-size: 0.9rem;
    top: 0%;
}

.radio_desc {
    display: flex;
    flex-direction: column;
}

.radio_desc span:nth-child(2) {
    font-size: 0.8rem;
    width: 80%;
}

.radio {
    border: 1px solid #c5c6c6;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    color: gray;
}

input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid gray;
}

input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    background-color: #89c228;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid gray;
}

.input,
textarea {
    width: 100%;
    padding: 1.5rem 1rem;
    display: block;
    margin: 10px 0px;
    background-color: #f8f8f8;
    border: 1px solid #c5c6c6;
}

.input:disabled {
    background-color: #b9b9b9;
}

textarea {
    font-family: sans-serif;
}

.button {
    width: 260px;
    height: 50px;
    border: none;
    background-color: #89c228;
    color: #fff;
    font-size: 16px;
    margin: 0.5rem auto 1rem auto;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    transition: 0.5s ease;
}

.button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.upload_button {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border: none;
    background-color: #89c228;
    color: #fff;
    cursor: pointer;
}

.address-group {
    width: 100%;
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.address-group > input {
    margin: 0;
}

.address-group > .input {
    margin: 0;
}

.address-group .not_filled_warning {
    margin: 1rem 0;
}

.address_input {
    padding: 1.5rem 1rem;
    display: block;
    background-color: #f8f8f8;
    border: 1px solid #c5c6c6;
}

.address_input_ {
    padding: 1.5rem 1rem;
    margin: 10px 0px;
    width: 100%;
    display: block;
    background-color: #f8f8f8;
    border: 1px solid #c5c6c6;
}

.address-group-button {
    margin-left: 5px;
    display: block;
    background-color: #f8f8f8;
    color: gray;
    border: 1px solid #c5c6c6;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    padding: 5px;
}

.form_bottom {
    margin: 10px 0px;
}

.files {
    margin: 10px 0px;
}

.files_header {
    display: flex;
}

.inn_kpp {
    width: 100%;
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inn_kpp > div span {
    margin: 0;
}

.inn_kpp input {
    width: 100%;
    padding: 1.5rem 1rem;
    display: block;
    background-color: #f8f8f8;
    border: 1px solid #c5c6c6;
}

.inn_kpp span.not_filled {
    display: block;
    margin-top: 1rem;
}

.inn_kpp div:nth-child(1) {
    margin-right: 1rem;
}

.file {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    max-width: 300px;
    padding: 0.5rem;
    margin: 10px 0px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.file img {
    max-width: 40px;
}

.file_info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.file_info span:nth-child(1) {
    font-weight: bold;
}

.file_info span:nth-child(2) {
    color: #8d8d8d;
}

.list {
    display: grid;
}

.warning {
    display: none;
    color: red;
    margin: auto;
    text-align: center;
    width: 200px;
}

.warning_on {
    display: block;
}

.not_filled,
input.not_filled,
.header.not_filled {
    border: 1px solid #da0100;
    background-color: rgb(255, 226, 226);
}

.not_filled_warning {
    display: none;
}

span.not_filled {
    display: inline;
    border: none;
    background-color: inherit;
    color: #da0100;
    margin: 10px 0px;
}

/* CHECKBOX */

input[type="checkbox"].check-box-dn {
    display: none;
}

.check-box {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid #000;
    position: relative;
    z-index: 8;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
    margin-right: 10px;
}

.check-box::before,
.check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    height: 0;
    width: 4px;
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}

.check-box::before {
    top: 10px;
    left: 8px;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.check-box::after {
    top: 5px;
    right: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked + .check-box::after,
.check-box.checked::after {
    height: 10px;
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type="checkbox"]:checked + .check-box::before,
.check-box.checked::before {
    height: 20px;
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards;
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 15px;
    }
}

.nav__container {
    background-color: #f8f8f8;
    padding: 10px 0px;
}

.nav__menu {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 60px;
    flex-wrap: wrap;
}

.nav__menu_link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    margin-right: 40px;
}

.nav__menu_link:hover {
    color: #89c228;
    border-bottom: 2px solid #89c228;
}

.nav__menu_link_active {
    color: #89c228;
    border-bottom: 2px solid #89c228;
}

@media (max-width: 450px) {
    .radios {
        margin: 10px 0px;
    }

    .input {
        margin: 5px 0px;
    }

    .address-group {
        margin: 5px 0px;
    }

    .inn_kpp {
        margin: 5px 0px;
    }

    .files {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px 5px;
    }

    .upload_button {
        display: block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        font-size: 12px;
        text-align: center;
        border: none;
        background-color: #89c228;
        color: #fff;
        cursor: pointer;
    }
}
