.title {
    color: gray;
}

.header {
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0;
    margin-top: 10px;
    display: block;
    background-color: #f8f8f8;
    border: 1px solid #c5c6c6;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.not_filled {
    border: 1px solid #da0100;
    background-color: rgb(255, 226, 226);
}

.list {
    display: none;
    width: 100%;
    top: 100%;
    margin: 0 1rem;
    border: 2px solid gray;
    background-color: #fff;
    max-height: 400px;
    overflow: scroll;
}

.option {
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.option:hover {
    background-color: #f9f6f6;
}

.org {
    padding: 0 0.5rem;
    cursor: pointer;
}

.org_title {
    background-color: gray;
    padding: 0 0.5rem;
}

.org:hover {
    background-color: #f9f6f6;
}

.open {
    display: block;
}

.arrow {
    transform: scale(2);
}

@media (max-width: 768px) {
    .header {
        margin: 5px 0px;
    }
    .list {
        margin: 0;
    }
}
