.icon {
    width: 50px;
}
.icon2 {
    width: 50px;
}

.table_row {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    align-items: center;
    padding-left: 10px;
    border-bottom: 2px solid black;
    height:  90px;
}
.tables_row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-left: 10px;
    border-bottom: 2px solid black;
    padding-top: 10px;padding-bottom: 10px;
}

.table_rows {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    align-items: center;
    background-color: #d5f6e0 ;
    padding-left: 10px;
    border-bottom: 2px solid black;
    min-height: 50px;
}

.text {
margin: 0px;
padding-left: 5px;
}
.content_table {
    margin-bottom: 50px;
}



.images_bottom{
    box-sizing: border-box;
    width: 150px;
}

.images_bottoms {
    box-sizing: border-box;
    display: block;
    width: 150px;
    transform: rotate(90deg);
}

.images_bottom_rotate {
    box-sizing: border-box;
    display: block;
    width: 150px;
    transform: rotate(90deg);
}

.card_img {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 30%;
    margin: 20px 0px;
}

.bottom_card {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.sybparagraf {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0px;
    font-size: 16px;
}

@media (max-width: 850px) {
    .text {
        font-size: 0.7rem;
        padding: 5px;
        width: 100%;
        }
        .icon {
            width: 20px;
            margin: 0 auto;
        }
        .icon2 {
            width: 20px;
            margin: 0 auto;
        }
        .table_rows {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 15% 42.5% 42.5%;
            align-items: center;
            text-align: center;
            background-color: #d5f6e0 ;
            padding-left: 0px;
            border-bottom: 2px solid black;
            min-height: 100px;
            margin: 0 auto;
        }
        .table_row {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 15% 42.5% 42.5%;
            align-items: center;
            padding: 5px;
            border-bottom: 2px solid black;
            height:  100%;
            margin: 0 auto;
        }
        .card_img {
            box-sizing: border-box;
            max-width: 130px;
            margin: 10px auto;
            position: relative;
            z-index: -1;
        }
        .sybparagraf {
            display: flex;
            justify-content: space-between;
            height: 100%;
            margin: 0px;
            font-size: 12px;
        }

}
