.container{
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
}
.container_category {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    height: 340px;
    padding: 20px 20px;
    justify-content: space-between;
    border: 2px solid #5c801d;
    border-radius: 10px;
}

.img {
    max-width: 200px;
    height: 180px;
}

.h1 {
    color: #5c801d;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.name {
    font-size: 16px;
    font-weight: 400;
    height: 60px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    box-sizing: border-box;
}

.button {
    padding: 4px 10px;
    background-color: transparent;
    border: 2px solid #89c228;
    color: #89c228;
    border-radius: 2px;
}


.button:hover {
    padding: 4px 10px;
    background-color: #89c228;
    border: 2px solid #89c228;
    color: white;
    transition: 0.5s ease;
}


@media (max-width: 420px) {
    .button {
        padding: 10px 10px;
        background-color: transparent;
        border: 2px solid #89c228;
        color: #89c228;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        height:auto;
    }

    .name {
        font-size: 14px;
    }
    .img {
        height: 140px;
    }
    .card {
        width: 220px;
        height: 280px;
    }
    .button:hover {
        background-color: #89c228;
        border: 2px solid #89c228;
        color: white;
        transition: 0.5s ease;
    }
    .container{
        box-sizing: border-box;
        max-width: 420px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }
}


@media (max-width: 768px) {
    .h1 {
        color: #5c801d;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    } 
}