/* Main Container */
.heroContainer {
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  padding-top: 0;
  font-family: inherit;
}

@media (min-width: 768px) {
  .heroContainer {
    min-height: 85vh;
    padding-bottom: 3rem;
  }
}

/* Content Wrapper */
.contentContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  text-align: center;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .contentContainer {
    padding: 0 1.5rem;
    padding-top: 5rem;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 56rem;
  margin: 0 auto;
  gap: 1rem;
}

/* Button Group Layout */
.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  animation: fadeInUp 1.2s ease-out;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 640px) {
  .controls {
  margin: 10px auto;
}
}

.heroButtonWrapper {
    min-width: 260px;
}

/* Slider Controls Positioning */
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  margin-bottom: 0;
  gap: 2rem;
  pointer-events: auto;
  padding: 0;
  width: 100%;
}

.dots {
  display: flex;
  gap: 0.75rem;
  pointer-events: auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
