.title {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 10px;
}

/* news card */
.news_card {
    max-width: 900px;
    background-color: #f7f7f7;
    margin: 2rem auto;
    display: flex;
    align-items: center;
}

.body {
    padding: 1rem;
}

.text {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.4rem;
}

.date {
    color: #89c228;
    font-size: 1.2rem;
}

.img {
    padding: 2rem;
    max-width: 250px;
}

/* pagination */

.pages {
    display: flex;
}

.page {
    list-style-type: none;
    border: 1px solid #89c228;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 2px;
    border-radius: 1px;
    transition: 0.5s ease;
}

.page:hover {
    background-color: rgb(190, 190, 190);
}

.active {
    background-color: #89c228;
    color: #fff;
}

.disabled {
    background-color: rgb(190, 190, 190);
    cursor: not-allowed;
}

/* LOADER */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #89c228;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/* FULL POST */
.container_img {
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.full_image {
    display: block;
    width: 50%;
    margin: auto;
    padding: 20px 0px;
}

.full_text {
    font-size: 1.3rem;
    margin: auto;
    padding: 2rem 0;
    width: 80%;
}


@media (max-width: 800px) {
    .news_card {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        background-color: #f7f7f7;
        margin: 2rem auto;
        display: flex;
        align-items: center;
    }
    .text {
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px;
    }
    .full_text {
        font-size: 14px;
        margin: auto;
        padding: 2rem 0;
        width: 100%;
    }
    .full_image {
        display: block;
        width: 100%;
        margin: auto;
        padding: 20px 0px;
    }
    
}
