.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ecomobileappbanner {
  max-width: 1100px;
}

@media (min-width: 320px) and (max-width: 580px) {
  .ecomobileappbanner {
    width: 100%;
    max-width: 580px;
  }
}
