.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 5px;
    margin-bottom: 40px;
}


.container{
    box-sizing: border-box;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    justify-content: center;
    margin: 0 auto;
}

.container_card {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid #cbcbcb;
}

.container_img {
    height: min-content;
    width: 100%;
}
.img {
    display: block;
    width: 100%;
    margin: 0 auto;
}


.zagolovok_card {
    height: 50px;
    font-size: 20px;
    color: #89c228;
    font-weight: normal;
    border-bottom: 3px solid #89c228;
    margin: 5px;
}

.texts {
    text-align: center;
    color: #89c228;
}


@media (max-width: 600px) {
    .container{
        grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));
    }
    .zagolovok_card {
        height: 50px;
        font-size: 16px;
        color: #89c228;
        font-weight: normal;
        border-bottom: 3px solid #89c228;
        margin: 5px;
    }
}
