.container {
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0 auto;
}

.card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    background-color: #e9e9e9;
    padding: 20px 10px;
}
.card iframe {
    max-width: 633px;
    min-width: 300px;
    margin: 0 auto;
}

.text__header {
    text-align: center;
    margin: 40px 0px;
    color: #89c228;
}


.text {
    font-size: 20px;
}
.container_text {
   display: flex;
   justify-content: center;
   align-items: center;
   margin:  0 auto;
    max-width:  400px;
}
.zagolovok_card {
    font-weight: 400;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #000;
    margin: 0;
    border-bottom: 1px solid black;
    font-size: 25px;
}
