.container {
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

.form_container {
    display: flex;
    flex-direction: column;
    flex-wrap: column;
}

.title {
    color: #89c228;
    text-align: center;
    padding: 30px 0px;
}

.input,
textarea {
    box-sizing: border-box;
    max-width: 1100px;
    padding: 20px 20px;
    margin: 10px 0px;
    background-color: #f8f8f8;
    border: 1px solid #c5c6c6;
    font-size: 16px;
}

.files_header {
display: flex;
align-items: center;
height: 100%;
}
.form_bottom {
    width: 94%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.upload_button {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border: none;
    background-color: #89c228;
    color: #fff;
    cursor: pointer;
    margin-left: 50px;
}

/* CHECKBOX */

input[type="checkbox"].check-box-dn {
    display: none;
}

.check-box {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid #000;
    position: relative;
    z-index: 8;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
    margin-right: 10px;
}

.check-box::before,
.check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    height: 0;
    width: 4px;
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}

.check-box::before {
    top: 10px;
    left: 8px;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.check-box::after {
    top: 5px;
    right: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked + .check-box::after,
.check-box.checked::after {
    height: 10px;
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type="checkbox"]:checked + .check-box::before,
.check-box.checked::before {
    height: 20px;
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards;
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 15px;
    }
}

.button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.button {
    width: 160px;
    height: 50px;
    border: none;
    background-color: #89c228;
    color: #fff;
    font-size: 16px;
    margin: 0.5rem auto 1rem auto;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    transition: 0.5s ease;
}

.warning {
    display: none;
    color: red;
    margin: auto;
    text-align: center;
    width: 200px;
}

.warning_on {
    display: block;
}

.address-group {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.address-group input {
    padding: 0px;
    margin-right: 10px;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border: 1px solid #c5c6c6;
}

.address-group-button {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 0px 0px;
    border: 1px solid #c5c6c6;
    font-size: 0.9rem;
     text-align: center;
}

.address-group-button span {
    padding: 10px 0px
}
