.container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-bottom: 1px solid black;
    padding: 0px 20px;
}
.row p {
    padding: 5px;
}

.rows p {
    padding: 5px;
}

.management {
    margin: 30px auto;
}

.rows {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #D5F6E0;
    border-bottom: 1px solid black;
    padding: 0px 20px;
}

.management {
    color: #89c228;
    font-size:  30px;
}


.container_management {
    margin-bottom: 40px;
}

.table {
    margin-bottom: 40px;
}
