.title {
    color: #89c228;
    text-align: center;
    padding: 1rem;
}

.input,
textarea {
    padding: 1.5rem 1rem;
    display: block;
    margin: 1rem auto;
    width: 100%;
    max-width: 1100px;
    background-color: #f8f8f8;
    border: 1px solid #c5c6c6;
}

textarea {
    font-family: sans-serif;
}

.button {
    width: 160px;
    height: 50px;
    border: none;
    background-color: #89c228;
    color: #fff;
    font-size: 16px;
    margin: 2rem auto;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    /* padding: 1rem;
    border: none;
    background-color: green;
    color: #fff;
    */
}
