.title {
    color: #89c228;
    text-align: center;
}

.table {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
}

.table_title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #000;
    font-size: 16px;
    background-color: #d5f6e0;
}

.table_entry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #000;
    font-size: 16px;
    align-items: center;
}

.table_entry p {
    padding-left: 10px;
}

.table_title p {
    padding-left: 10px;
}
.table_entry strong {
    padding-left: 10px;
}


@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .table_entry {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 1px solid #000;
        font-size: 12px;
        align-items: center;
    }
    .table_entry p {
        padding-left: 5px;
    }
}
