.container{
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.h1 {
    color: #89c228;
    font-size: 30px;
    text-align: center;
}

.h2 {
    color: #61891d;
    font-size: 20px;
    text-align: left;
}

.p {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin: 10px 0px;
}

@media (max-width:768px) {
    .h1 {
        color: #89c228;
        font-size: 24px;
        text-align: center;
    }
    
    .h2 {
        color: #61891d;
        font-size: 18px;
        text-align: left;
    }
    
    .p {
        font-size: 16px;
        font-weight: 400;
        margin: 0px;
        margin: 10px 0px;
    }
}