.link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
  text-decoration: none;
}

.logo {
  height: 2rem;
  width: auto;
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .logo {
    height: 3rem;
  }
}

.link:hover .logo {
  transform: scale(1.05);
}
