.button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.button:focus {
  outline: none;
}

.line {
  width: 2rem;
  height: 0.2rem;
  background-color: #111827;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

:global(.dark) .line {
  background-color: #ffffff;
}

.open .line:nth-child(1) {
  transform: rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.open .line:nth-child(3) {
  transform: rotate(-45deg);
}
