.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    max-width: 1100px;
    margin: 0 auto;
}

.container_img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   place-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.img {
    width: 100px;
    margin: 30px 0px;
    border-radius: 50%;
}


@media (max-width: 500px) {
    .container_img {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
}
